/* Add screen styles below */
:root {
    --main-bg: #F1E4F3;
    --main-bg-alt: #f4bbd3;
    --main-type: #614344;
    --main-type-alt: #614344;
    --image-border-radius: 20px;
    --header-border-radius: 20px;
  }
  
  body {
    background: #F1E4F3;
    color: var(--main-type);
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4bbd3;
    padding: 0;  
    margin: 0;
  }
  
  h1 {
    margin: 100px 12px 15px 15px;
    font-size: 200px
    text-align: center;
  }
  
  main {
    margin-bottom: 80px;
  }
  
  #hero h2 {
    font-size: 40px;
    margin: 70px 500px 40px 500px;
    text-align: center;
  }

  #stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 350px;
    margin-right: 100px;
  }
  
  .story:nth-child(3) {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
  }
  
  .story img {
    border-radius: var(--image-border-radius);
    width: 425px;
    margin-bottom: 150px;
    margin-top: 69px;
    margin-left: -140px;
    margin-right: 83px;
  } 

    p {
    margin: 24px 90px 24px 60px;
    height: 2px;
    width: 800px
  }
  

  h3 {
    margin: 24px 10px 24px 60px;
    width: 400px;
    font-size: 45px;
  }

  .square {
    border-radius: var(--image-border-radius);
    z-index:-10;
    width: 2000px;
    height: 2000px;
    margin-bottom: 90px;
    margin-top: 50px;
    margin-left: -560px;
    margin-right: 0;
  }
